Source: ganglia-webfrontend
Section: net
Priority: optional
Maintainer: Jeff Buchbinder <jeff@freemedsoftware.org>
Homepage: http://www.ganglia.info/
Build-Depends: debhelper (>= 7.0.0), rsync, build-essential
Standards-Version: 3.8.4
Vcs-Git: git://github.com/vvuksan/ganglia-misc.git
Vcs-Browser: http://github.com/vvuksan/ganglia-misc

Package: ganglia-webfrontend
Architecture: all
Depends: ${misc:Depends}, apache | apache-ssl | apache-perl | apache2, php5 | php5-cgi | libapache2-mod-php5, rrdtool, debconf (>= 0.5)
Recommends: gmetad, php5-gd
Description: cluster monitoring toolkit - web front-end
 Ganglia is a scalable, real-time cluster monitoring environment
 that collects cluster statistics in an open and well-defined XML
 format.
 .
 This package contains the PHP-based web front-end, which displays
 information gathered by 'gmetad'.

